{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'waggle_app/css/bookings/booking_list.css' %}">
{% endblock %}
{% block content %}
<h1>My Bookings</h1>

{% if bookings %}
  {% for booking in bookings %}
    <div class="booking-card">
      <h3>{{ booking.owner.name }} with
        {% if booking.sitter %}
          {{ booking.sitter.name }}
        {% else %}
          {{ booking.owner_and_sitter.name }}
        {% endif %}
      </h3>
      <p><strong>Start Date:</strong> {{ booking.booking_start }}</p>
      <p><strong>End Date:</strong> {{ booking.booking_end }}</p>
      <p><strong>Pets:</strong> 
        {% for pet in booking.pets.all %}
          {{ pet.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      <p>
        <strong>Status:</strong> 
        {% if booking.status == 'pending' %}
          <span class="status-pending">Pending</span>
        {% elif booking.status == 'approved' %}
          <span class="status-approved">Approved</span>
        {% elif booking.status == 'denied' %}
          <span class="status-denied">Denied</span>
        {% elif booking.status == 'canceled' %}
          <span class="status-canceled">Canceled</span>
        {% endif %}
      </p>
      <br>
      <form method="post" action="{% url 'manage_booking' booking.pk %}">
        {% csrf_token %}
        <button type="submit" name="canceled" class="btn btn-danger">Cancel Booking</button>
      </form>
    </div>
  {% endfor %}
{% else %}
  <p>No bookings found.</p>
{% endif %}

{% endblock %}