{% extends "base.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'waggle_app/css/bookings/booking_list.css' %}">
{% endblock %}

{% block content %}
<h1>Incoming Booking Requests</h1>
<br>

{% if incoming_bookings %}
  {% for booking in incoming_bookings %}
    <div class="booking-card">
      <h2>From: {{ booking.owner.name }}</h2>
      <p><strong>Dates:</strong> {{ booking.booking_start }} to {{ booking.booking_end }}</p>
      <p><strong>Status:</strong> {{ booking.status }}</p>
      <p><strong>Pets:</strong> 
        {% for pet in booking.pets.all %}
          {{ pet.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      {% if booking.message %}
        <p><strong>Message:</strong> {{ booking.message }}</p>
      {% endif %}
      <form method="post" action="{% url 'manage_booking' booking.pk %}">
        {% csrf_token %}
        <button type="submit" name="approve" class="approvebtn">Approve</button>
        <button type="submit" name="deny" class="btn btn-danger">Deny</button>
      </form>
       <a href="{% url 'booking_detail' booking.pk %}" class="btn btn-primary">View Details</a>
    </div>
    <br>
  {% endfor %}
{% else %}
  <p>No incoming booking requests.</p>
{% endif %}

{% endblock %}