{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Waggle{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'waggle_app/css/base.css' %}">
    {% block head %}{% endblock %}
  </head>

<body>
    <header>
        <div class="header-container">
            <h1><a href="{% url 'home' %}">Waggle</a></h1>
        </div>
    </header>

    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>

                {% if user.owner or user.owner_and_sitter %}
                    <li><a href="{% url 'add_pet' %}">Add A Pet</a></li>
                    <li><a href="{% url 'pet_list' %}">My Pets</a></li>
                    <li><a href="{% url 'user_directory' %}">Find a Sitter</a></li>
                    <li><a href="{% url 'booking_list' %}">My Bookings</a></li>
                {% endif %}

                {% if user.sitter or user.owner_and_sitter %}
                    <li><a href="{% url 'incoming_bookings' %}">Booking Requests</a></li>
                {% endif %}

                <li>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
