{% extends 'base.html' %}

{% block title %}Home - Waggle{% endblock %}

{% block content %}
<main class="home-main">
    <h1>Welcome to Waggle</h1>
    <p>Find trusted pet sitters near you and give your pets the care they deserve.</p>
    <section>
        <form actions="{% url 'home' %}" methond = 'post' class="login">
            <h1> Login </h1>
            {% csrf_token %} {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn submit">Login</button>
        </form>
    </section>
</main>
{% endblock %}
